<div class="level-block">

  <div class="copy">
    おすすめの本を紹介しましょう。
    <br>
    <span>きっと誰かの役に立つ。</span>
  </div>

</div>

<div class="contents contents-heght">

  <h1>
    <%= @h1 %>
  </h1>

  <div class="sidebar">
    <a href="/books" class="books-btn btn-on">All Books</a>
    <a href="/" class="books-btn">あなたにおすすめ</a>
    <div class="languages">
      <% languages.each do |language| %>
      <a href="/books/language/<%= language['id'] %>">
        <%= language['name'] %>
      </a>
      <% end %>
    </div>
  </div>

  <div class="books-list">

    <% @books.each do |book| %>

    <div class="book clearfix">

      <% unless book['image'].nil? %>
      <div class="img">
        <a href="<%= book['link'] %>" target="_blank">
          <img src="/image/books/<%= book['id'] %>/<%= book['image'] %>" alt="thumbnail">
        </a>
      </div>
      <% end %>

      <div class="content">
        <div class="language-name">
          <%= language_name(book['language_id']) %>
          <%= levels[book['level']] %>
        </div>
        <div class="title">
          <a href="<%= book['link'] %>" target="_blank">
            <%= book['title'] %>
          </a>
        </div>
        <div class="nickname">
          <span>
            <%= user_nickname(book['user_id']) %></span> さんからのおすすめ！
        </div>
        <div>
          <%= nl2br(book['comment']) %>
        </div>

      </div>
    </div>

    <% end %>

    <% if @books.empty? %>
    <div class="book">
      <div class="no-books">
        <i class="far fa-dizzy"></i>No books.
      </div>
    </div>
    <% end %>

  </div>

</div>
