<div class="contents contents-heght">

  <h1>
    本を紹介する
  </h1>
  <div class="book-form">

    <form action="/book_create" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="user_id" value="<%= @user_data[0]['id'] %>">

      <label>タイトル</label>
      <input type="text" class="form-control mb-2" name="title" required>

      <label>リンク</label>
      <textarea class="form-control mb-2" name="link" rows="4"></textarea>

      <label>言語</label>
      <select class="form-control mb-2" name="language_id">
        <% languages.each_with_index do |language, i| %>
        <option value="<%= i+1 %>">
          <%= language['name'] %>
        </option>
        <% end %>
      </select>

      <label>レベル</label>
      <select class="form-control mb-2" name="level">
        <% (1...levels.count).each do |i| %>

        <option value="<%=i%>">
          <%=levels[i]%>
        </option>

        <% end %>
      </select>

      <label>コメント</label>
      <textarea class="form-control mb-2" name="comment" rows="8"></textarea>

      <label>画像</label>
      <p>
        <input type="file" class="mb-4" name="file" multiple>
      </p>
      <button type="submit" class="btn btn-color">Submit</button>
    </form>
  </div>
</div>
